
/* Your CSS Code here. */
.holder{
	display:grid;
	width:200px;
	height:200px;
	grid-template-rows:repeat(2,1fr);
	grid-template-columns:repeat(2,1fr);
	 gap: 5px; /* Optional spacing between items */
}

	.item {
	  background-color: lightblue;
	  border: 1px solid black;
	
}